body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #111827;
}

header {
  background: #1e40af;
  color: white;
  text-align: center;
  padding: 25px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: white;
}

.hero h2 {
  font-size: 34px;
  color: #1e40af;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 14px 25px;
  background: #1e40af;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.whatsapp {
  background: #16a34a;
}

.plans, .form-section, .admin {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.login-box {
  max-width: 400px;
  margin-top: 100px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #dbeafe;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

input, select, textarea {
  width: 95%;
  padding: 12px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  height: 90px;
}

button {
  padding: 12px 25px;
  background: #1e40af;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#response, #msg {
  color: green;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #dbeafe;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: white;
}
